<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositoryPath" value="packages" />
	</config>
	<packageSources>
		<!-- When <clear /> is present, previously defined sources are ignored -->
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<!--<add key="CI" value="https://microsofthealthoss.pkgs.visualstudio.com/FhirServer/_packaging/CI/nuget/v3/index.json" />
		<add key="Microsoft Health OSS" value="https://microsofthealthoss.pkgs.visualstudio.com/FhirServer/_packaging/Public/nuget/v3/index.json" />
		<add key="Microsoft MedTech OSS" value="https://microsofthealthoss.pkgs.visualstudio.com/MedTech/_packaging/MedTechOSS/nuget/v3/index.json" />-->
		<add key="FeedZ" value="https://f.feedz.io/elixionmedical/fhirconverter/nuget/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<FeedZ>
			<add key="Username" value="elixionmedical" />
			<add key="ClearTextPassword" value="T-plhfVV4XVZv3uuFbz5ava4v2lGGTpnWyi8" />
		</FeedZ>
  </packageSourceCredentials>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<disabledPackageSources>
		<add key="Microsoft Visual Studio Offline Packages" value="true" />
	</disabledPackageSources>
</configuration>
